

.left_bar {
	border: solid 1px;
	display: block;
	float: left;
	width: 188px;
	height: 758px;
	position: fixed;
	top: 142px;
	overflow: auto;
}

.left_bar ul {
	list-style: none;
}

#shop_list {
	border: solid 1px;
	height: 52px;
	width: 240px;
	float: right;
	top: 108px;
	display: block;
	position: relative;
	right: 7px;
}

.paths {
	border: solid 1px;
	height: 50px;
	position: relative;
	top: 134px;
	display: block;
	width: 21%;
	float: left;
	left: 240px;
}

#list_of_products {
	border: solid 1px;
	display: block;
	width: 80%;
	height: 668px;
	top: 222px;
	position: fixed;
	left: 230px;
	overflow: auto;
}

#list_of_products ul {
	position: relative;
	display: flex;
	/*! padding: 0; */
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
}

#list_of_products ul li{
	margin: 5%;
}