<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>web store</title>
<script src="/js/jquery-1.11.2.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script type="text/javascript" src="/js/main.js"></script>

</head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron">
                <h2><a href='../'>Book Store</a><h2>
                <p>Find your favorate books here!</p>
            </div>
            {{{body}}}     
        </div>
        <footer class="footer">
            <p>&copy; Li Quanquan 2015</p>
        </footer>
        </div>
    </body>

</html> 