<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Admin</title>
		<link rel="stylesheet" type="text/css" href="/css/admin.css">
	</head>

	<body>
		<div class="content">
			<h2> Login </h2>
            <form action="login", enctype="multipart/form-data", method="post"/>
				<label>Usuario:</label>
				<input type="text", name="username" required="required"/>
                <label>Password:</label>
				<input type="text", name="password" required="required"/>
				<input type="submit"/>
			</form>
	</div>
</body>
</html>