.content {
	padding: 15px 0 0 15px;
}
/* .content img {
	width: 100px;
} */

.content ul {
	padding: 2em;
}
.content li {
	border: 2px solid black;
	padding: 4px;
	margin: 4px;
}

.content form {
	text-align: left;
	padding: 15px;
}

.input-password {
	border: solid 1px;
	margin: 28px 0;
}

.content textarea {
	border: 1px solid black;
	padding: 15px;
	width: 100%;
}

.content input[type="text"] {
	border: 1px solid black;
	margin: 15px 0 0 15px;
}

/* .content img {
	width: 50%;
} */

